/* Vertical UM v1.7.23 */
.unim,.unim ul {list-style:none;margin:0;padding:0;}
ul.unim.vertical li {position:relative}
	ul.unim.vertical li a {display:block;text-align:start;padding:.5em 1em;transition:.5s}
	ul.unim.vertical li img {vertical-align:middle;width:1em;height:1em}
	/* arrows */
	ul.unim.vertical li i {display:inline-block;vertical-align:middle;background:url(arrows-vertical.png) no-repeat 0 0;width:16px;height:16px}
	html[dir="ltr"] ul.unim.vertical li i {background-position:0 -48px}
	html[dir="rtl"] ul.unim.vertical li i {background-position:0 -16px}
		html ul.unim.vertical li.opened > a > i {background-position:0 -32px}
	/* sub-menus */
	ul.unim.vertical li ul {position:absolute;top:0;*left:0;*right:0;display:none;min-width:100%}
		html[dir="ltr"] ul.unim.vertical li ul {left:100%}
		html[dir="rtl"] ul.unim.vertical li ul {right:100%}
	/* icon */
	.unim-icon.vertical {display:none}
	.unim-icon.vertical.mobile {display:block;line-height:30px;padding:0 .8em}
		.unim-icon.vertical.mobile > * {display:inline-block;vertical-align:top}
			.unim-icon.vertical.mobile span {font-size:2.3em;line-height:.8em}
